<!DOCTYPE html>
<html>
  <head>
    <title>Honda Clone</title>
    <link rel="stylesheet" href="public/assets/styles/salesforce-lightning-design-system.css"/>   
    <link rel="stylesheet" href="public/assets/globalStyle.css"/>
    <link rel="icon" href="public/assets/hfavicon.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/design-system/2.27.2/styles/salesforce-lightning-design-system.min.css"/>  
     <!-- <link rel="stylesheet" href="public/assets/slds.css"/>  -->
  </head>
  <body>
    <components-navbar> </components-navbar>
     {{{body}}}
     {{{lwr_resources}}}
  </body>
</html>
